.title{
    width:65%;
    height: 60px;
    font-size: 25px;
    font-weight: bold;
    line-height:60px;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 20px auto 0 auto;
    border-radius: 28px;
    text-align: center;

}
.content{
    width:60%;
    height: 410px;
    margin:15px auto 0 auto;
    border: 1px solid black;
    box-sizing: border-box;
}
.first_{
    height: 55px ;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}
.second_{
    margin:15px auto 0 auto;
    font-size: 23px;width: 90%;
    height: 260px;
}
.third_{
    height:80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid black;
    box-sizing: border-box;
}
.third_ div{
    width: 46px;
    height: 100%;
    text-align: center;
}
.third_ img{
    width:45px;
    height:45px;
    margin-top: 10px;
}
#agree{
    width:90px;
    height: 40px;
    margin-left: 30px;
    border-radius: 20px;
}
