
.question{
    width:70%;
    height: 220px;
    border: 1px solid black;
    box-sizing: border-box;
    margin:20px auto 0 auto;
}
.first{
    height: 20%;
    width: 100%;
    margin-top:10px;
    font-size: 23px;
}
.second{
    height: 25%;
    margin-top:10px;
    line-height:40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.second img{
    width:40px;
    height: 40px;
    margin-left: 20px;
    border-radius: 18px;
}
.second label{
    margin-left: 15px;
}
.second text{
    margin-left: 15px;
    color: #898989;
}
.third{
    height: 26%;width:95%;margin: 0 auto 0 auto;
}
.fourth{
    color: #898989;
    height: 10%;
    width:95%;
    margin: 0 auto 0 auto;
}
